.dashboard .cards-container {
  margin: 20px auto;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  grid-template-rows: 0fr;
}

.dashboard .location {
  margin: 5px auto;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 6fr 4fr;
  grid-gap: 0px;
  grid-template-rows: 0fr;
}

.dashboard .cards-container-2 {
  margin: 25px auto;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr;
  grid-gap: 25px;
  grid-template-rows: 1fr;
}

.dashboard .card-bg {
  border: 1px solid #f2f2f2;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.dashboard .iaq {
  margin: 5px auto;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 6fr 4fr;
  grid-gap: 0px;
  grid-template-rows: 0fr;
}

.dashboard .notes {
  margin: 5px auto;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-gap: 0px;
  grid-template-rows: 0fr;
}

.dashboard .awair {
  margin: 5px 30px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 3fr;
  grid-gap: 0px;
  grid-template-rows: 0fr;
}

.dashboard .awair2 {
  margin: 5px 3px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  grid-template-rows: 0fr;
}

.dashboard .iaq-element {
  font-size: "1em";
  margin: "0rem 0px -2rem 0px";
}

.dashboard .numberCircle2 {
  border-radius: 100%;
  width: 90px;
  height: 90px;
  padding: 26px;

  background: #ffd504;
  border: 0px solid #666;
  color: #fff;
  text-align: center;

  font: 32px Arial, sans-serif;
  margin-top: 10px;
  margin-bottom: 40px;
}

.numberCircleParent {
  display: inline-block;
  line-height: 0px;
  border-radius: 50%;
  border: 2px solid;
  text-align: center;
  align-content: center;
  color: #fff;
  width: 108px;
  height: 108px;

  border: 4px solid #fff;
  margin-top: 10px;
  margin-bottom: 40px;
}

.numberCircle {
  display: inline-block;
  line-height: 0px;
  border-radius: 50%;
  border: 2px solid;
  font-size: 32px;
  text-align: center;
  color: #fff;
  width: 80px;
  height: 80px;
  background: #1cdd11;
  border: 4px solid #fff;
  margin-top: 10px;
  margin-bottom: 40px;
}

.numberCircle span {
  display: inline-block;
  padding-top: 50%;
  padding-bottom: 50%;
  margin-left: 8px;
  margin-right: 8px;
}
.dashboard .card-section {
  padding: 0 1.5rem;
  box-sizing: border-box;
}

.dashboard .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  width: 80%;
  margin: 0 auto;
}

.dashboard .footer-link {
  display: flex;
  align-items: center;
  padding: 0;
  color: #333;
}

@media (max-width: 1320px) {
  .dashboard .cards-container {
    grid-gap: 15px;
    grid-template-columns: repeat(2, minmax(270px, 1fr));
  }
  .dashboard .wide {
    grid-column: span 1;
  }
  .dashboard .card-section {
    padding: 0 0.5rem;
  }
  .dashboard .table-rem {
    display: none !important;
  }
  .dashboard .footer {
    width: 90%;
  }
}

@media (max-width: 920px) {
  .dashboard .cards-container {
    max-width: 500px;
    width: 90%;
    font-size: 0.85rem;
    grid-template-columns: repeat(1, minmax(220px, 100%));
  }
  .dashboard .msg-rem {
    display: none !important;
  }
  .dashboard .p-4 {
    padding: 1rem !important;
  }

  .dashboard .pane-image {
    min-width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }
  .dashboard .footer-rem,
  .dashboard .footer-link {
    display: none !important;
  }
  .dashboard .footer .d-flex {
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 375px) {
  .dashboard .h5 {
    font-size: 1rem;
  }
  .dashboard .cards-container {
    margin: 10px 0;
  }
}
